{
	"parser": "babel-eslint",
	"parserOptions": {
		"allowImportExportEverywhere": true
	},
	"extends": "eslint-config-standard",
	"plugins": [
		"html"
	],
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"ecmaFeatures": {
		"modules": true
	},
	"globals": {
		// These are injected by the build system
		"CONFIG": true,
		"process": true,
		// These are made available in main.js
		"app": true,
		"router": true
	},
	"rules": {
		"curly": ["error", "multi"],
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"eol-last": "off"
	}
}